{% extends "djangoproject/base.html" %}
{% block content %}
<!-- Jumbotron -->
<div class="jumbotron p-0">

  <!-- Card image -->
  <div class="view fa-stack-overflow">
    <img src="/media/profile_pics/student-849828_1920.jpg" class="img-thumbnail" alt="Sample image">
    <a href="#">
      <div class="select2-close-mask"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center mb-2">

    <!-- Title -->
    <h3 class="glyphicon-credit-card"><strong>About </strong></h3>
    <!-- Text -->
    <p class="bk-ui-icon-mail-closed">
RYP is about helping students answer a single question "what do I need to know to maximize my chance of success in a given class?" Every teacher and class are different, and knowing what to expect can help students best prepare themselves to succeed.
</p><!-- Button -->


  </div>

</div>
<!-- Jumbotron -->
{% endblock content %}